@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');

.text-light-gray{
  
        color: #727272;
}
*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    padding: 20px;
    background: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
         list-style: none;
         margin-right: 30px;
         font-weight: 500;
         font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-titel, .section-titel{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* baner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-titel{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;

}
.banner img{
    width: 100%;
    margin-top: 20px;
    
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container{

    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;

}
.team-titel{
    font-size: 2.8rem;
}
.team-titel .Quick-list {
    color: #727272;
    font-weight: 500;
}
.team-titel .Features{
    color: #FF900E;
    font-weight: 700;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px;



}
.facts-card-container .card-titel{
    font-size: 1.8rem;
    color: #727272;
    font-weight: 500;
    margin-top: 5px;
    
}
.facts-card-container .card-stats {
    font-size: 1.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 50px;
    align-items: center;
}
.sponsors-img-container img{
    width: 165px;
}

.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features-content .card{
    padding: 30px;
 border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
margin-bottom: 20px;

}
.features .section-titel{
    border-left: 5px solid #FF900E;
   padding-left: 20px;
}
.ten-years-badg{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 50px;

}
.ten-years-badg h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badg p{
    font-size: 1.5rem;
}
.features-img{
    height: 90%;
    margin-left: 90px;
}





/* mobile divice reponsive */

@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, 
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;
    }
    .features-img img{
        width: 90%;
        margin-left: 0;

    }
    .ten-years-badg{
        position: static;
        max-width: 200px;

    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content, .facts-card-container{
        padding-right: 20px;
        padding-left: 20px;
    
    }
    .facts-card-container{
        gap: 20px;
    }
    
}





@media screen and (min-width: 576px)  and (max-width:960px){
    nav, 
    .teams-container,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    
}